@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: medium;

  @screen sm {
    font-size: small;
  }

  @screen md {
    font-size: medium;
  }
  @screen lg {
    font-size: larger;
  }

}

:root {
  --foreground: #ffffff;
  --background: #434a95;
}


body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
}

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }

  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

.selected-sidebar {
  letter-spacing: 0.3rem;
  font-weight: bold;
  font-size: larger;
  opacity: 1 !important;
  transition-property: letter-spacing;
  transition-duration: 0.8s;
}

[class^="keen-slider__slide"],
[class*="keen-slider__slide"] {
  display: flex;
  
}

.h-screen {
  height: 100vh;
  height: calc(100dvh) !important;
  /* height: calc(var(--vh, 1vh) * 100); */
}

@media only screen and (max-height: 500px) and (max-width: 1000px) {
  .land-cont {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin: 0;
  }
  
  .land-h1 {
    font-size: xx-large;
    margin: 0;
    padding: 0;
  }
  .land-text {
    margin-top: 0;
    padding-top: 0;
  }
}

small {
  font-size: smaller;
}

li {
  list-style-type: none;
  position: relative;  
}
li::before {
  content: '■';
  position: absolute;
  left: -1em;         
  font-size: 1.1em;
  color: #ffd400;
}